[submodule "Development/AppTrackClient/PlainDefaultImage"]
	path = Development/AppTrackClient/PlainDefaultImage
	url = https://github.com/malhal/PlainDefaultImage.git
[submodule "Dependencies/MHFoundation"]
	path = Dependencies/MHFoundation
	url = https://github.com/malhal/MHFoundation.git
[submodule "Dependencies/MHData"]
	path = Dependencies/MHData
	url = https://github.com/malhal/MHData.git
[submodule "Dependencies/MHAppSupport"]
	path = Dependencies/MHAppSupport
	url = https://github.com/malhal/MHAppSupport.git
[submodule "Dependencies/MHCydiaSubstrate"]
	path = Dependencies/MHCydiaSubstrate
	url = https://github.com/malhal/MHCydiaSubstrate.git
[submodule "Dependencies/RocketBootstrap"]
	path = Dependencies/RocketBootstrap
	url = https://github.com/rpetrich/RocketBootstrap.git
